html {
  scroll-behavior: smooth;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }

  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }

  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }

  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }

  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }

  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }

  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.header nav {
  background-color: #000000;
}

.menu ul li {
  margin-right: 20px;
  display: inline-block;
  color: white;
  list-style: none;
  text-align: center;
}

.menu ul li a:hover {
  color: #70e332;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
}

.menu {
  padding-top: 20px;
}

/* banner inicio*/
.top {
  width: 100%;
  height: 80px;
  background-color: black;
}

.banner-area {
  width: 100%;
  background-color: #000000;
}

.banner-area video {
  width: 100%;
  height: auto;
  display: flex;
}

img, video, embed {
  max-width: 100%;
  height: auto;
}

/*skills*/
.bars-container {
  margin-top: 50px;
  margin-bottom: 15px;
}

.bar-title, .bar-percent {
  font-size: 17px;
  line-height: 30px;
  text-align: justify;
  font-weight: bold;
}

.bar {
  flex-basis: 478px;
  margin-bottom: 40px;
}

.bar-info {
  display: flex;
  justify-content: space-between;
}

.bar-empty {
  width: 100%;
  height: 10px;
  background-color: #000000;
}

.bar-fill {
  width: 0;
  height: 10px;
  background-color: #70e332;
}

/* experiencia */
.experiencia {
  margin: 0 auto;
  position: relative;
}

.experiencia .group-title {
  background-color: #70e332;
  height: 126px;
  padding-left: 30px;
}

.experiencia .sobtitle {
  padding-top: 27px;
  font-size: 13px;
  text-align: left;
  color: white;
}

.experiencia .title {
  font-size: 48px;
  margin-top: -6px;
  text-align: left;
  color: #1b1464;
  font-family: Poppins-Bold;
}

/* pop-up */
.pop-ups {
  color: #959595;
  list-style: none;
  line-height: 31px;
  background-color: #fff;
  font-size: 14px;
  z-index: 1;
  margin-top: 0px;
  display: none;
}

.box-exp, .box-cursos, .box-projetos {
  width: 100%;
  padding: 0 35px;
  position: relative;
}

/* atuacao */
.atuacao {
  width: 100%;
  background-color: #000000;
  padding-bottom: 60px;
}

.texto-at {
  margin: 0 auto;
}

.tt-atuacao {
  font-size: 27px;
  text-align: left;
  color: #70e332;
}

.desc-atuacao {
  margin-bottom: 2rem;
  font-size: 15px;
  text-align: left;
  color: white;
}

.box1 {
  min-height: 270px;
  background-color: white;
  margin-bottom: 15px;
}

.img-des {
  padding-top: 45px;
  margin-left: 50px;
}

.design {
  display: inline-block;
  margin-top: 40px;
  margin-left: 30px;
  font-size: 17px;
  color: #252525;
}

.des-design {
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 13px;
  margin-top: 0px;
  text-align: justify;
  color: #898989;
}

.web {
  display: inline-block;
  margin-top: 40px;
  margin-left: 30px;
  font-size: 17px;
  color: #252525;
}

.des-web {
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 13px;
  margin-top: 0px;
  text-align: justify;
  color: #898989;
}

.motion {
  display: inline-block;
  margin-top: 40px;
  margin-left: 30px;
  font-size: 17px;
  color: #252525;
}

.des-motion {
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 13px;
  margin-top: 0px;
  text-align: justify;
  color: #898989;
}

/* portfolio */
.texto-port {
  margin: 0 auto;
}

.tt-port {
  font-size: 27px;
  text-align: left;
  color: #70e332;
  padding-top: 40px;
}

.desc-port {
  font-size: 15px;
  text-align: left;
  color: #252525;
}

/* imagens */
.imagens {
  padding-top: 20px;
}

.element-portfolio {
  -webkit-filter: grayscale(100%);
  margin-bottom: 25px;
}

/* imagens (hover) */
.element-portfolio:hover {
  -webkit-filter: grayscale(0%);
  transition: 0s;
}

.behance {
  margin-bottom: 10px;
}

.t-cl-port {
  margin-right: 15px;
  width: 75px;
  font-size: 14px;
  text-align: left;
  color: #252525;
}

.cl-btn:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* banner */
.banner-area3 {
  position: relative;
  width: 100%;
  background-color: #000000;
}

.txt-div {
  position: relative;
  text-align: center;
}

.tit-div {
  margin-top: 65px;
  font-size: 47px;
  color: #70e332;
}

.p-div {
  font-size: 16px;
  color: white;
}

.tp-btn {
  margin-bottom: 15px;
  -webkit-filter: grayscale(100%);
}

.rb-btn {
  margin-bottom: 15px;
  -webkit-filter: grayscale(100%);
}

/* botoes (hover) */
.tp-btn:hover {
  -webkit-filter: grayscale(0%);
  transition: 0s;
}

.rb-btn:hover {
  -webkit-filter: grayscale(0%);
  transition: 0s;
}

/* contatos */
.contato {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.texto-ctt {
  margin: 0 auto 60px;
  position: relative;
}

.tt-ctt {
  font-size: 27px;
  text-align: left;
  color: #70e332;
  padding-top: 30px;
}

.desc-ctt {
  font-size: 15px;
  text-align: left;
  color: #252525;
}

.telefone {
  margin-left: 10px;
}

.ligue {
  margin-top: -30px;
  margin-left: 34px;
  font-size: 18px;
}

.numero {
  margin-left: 33px;
  margin-top: -15px;
  font-size: 18px;
  color: #959595;
}

.mail {
  margin-left: 4px;
  margin-top: 40px;
}

.t-mail {
  margin-top: -28px;
  margin-left: 40px;
  font-size: 18px;
}

.end-mail {
  margin-left: 40px;
  margin-top: -15px;
  font-size: 18px;
  color: #959595;
}

.social {
  margin-left: 43px;
  display: flex;
  list-style: none;
  margin-top: 70px;
  margin-bottom: 70px;
}

.ico {
  margin-right: 15px;
  -webkit-filter: grayscale(100%);
}

.ico:hover {
  -webkit-filter: grayscale(0%);
  transition: 0s;
}

/* formulario */
form input, form textarea {
  width: 100%;
}

.nome, .email, .assunto {
  height: 45px;
  margin-bottom: 22px;
  border: 1px solid #cccccc;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
}

.textarea {
  height: 125px;
  margin-bottom: 22px;
  border: 1px solid #cccccc;
  font-size: 14px;
  padding: 15px;
}

.enviar {
  width: 160px;
  height: 50px;
  background-color: black;
  font-size: 13px;
  text-transform: uppercase;
  color: white;
  border: 0px;
  align-self: flex-end;
}

.enviar:hover {
  background-color: #70e332;
  color: black;
}

.rodape {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  font-size: 10px;
  background-color: #000000;
}

/*fontes*/
@font-face {
  font-family: lato-regular;
  src: local(lato-regular), url(./fonts/ttf/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato-Bold;
  src: local(Lato-Bold), url(./fonts/ttf/Lato-Bold.ttf);
}

@font-face {
  font-family: Poppins-Regular;
  src: local(Poppins-Regular), url(./fonts/ttf/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-SemiBold;
  src: local(Poppins-SemiBold), url(./fonts/ttf/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: local(Poppins-Bold), url(./fonts/ttf/Poppins-Bold.ttf);
}

.bar-percent, .Exp-t1, .parag, .desc-atuacao, .desc-port, .des-design, .des-web, .des-motion, .p-div, .rodape, .lista-s, .t-cl-port, .desc-ctt, .field, .textarea, .pop-ups {
  font-family: lato-regular;
}

.bar-title {
  font-family: Lato-Bold;
}

.t-apres, .numero, .end-mail {
  font-family: Poppins-Regular;
}

.menu ul li a, .design, .web, .motion, .enviar {
  font-family: Poppins-SemiBold;
}

.t-sobre, .Exp-t2, .tt-atuacao, .tt-port, .tit-div, .tt-ctt, .ligue, .t-mail {
  font-family: Poppins-Bold;
}

/*topos*/
.top-sobre, .top-port {
  margin-top: -111px;
  position: absolute;
  width: 100%;
  height: 10px;
}

.profile {
  margin-bottom: 15px;
}

.about .container {
  background-color: #70e332;
  padding-top: 40px;
  padding-bottom: 40px;
}

.skills {
  padding-bottom: 60px;
}

.navbar-toggler {
  background-color: #000;
  color: #fff;
}

.portfolio {
  padding-bottom: 40px;
}

.t-sobre {
  margin-top: 10px;
  font-size: 27px;
}

.banner-area .container {
  padding-left: 0;
  padding-right: 0;
}

.pop-ups {
  padding: 25px;
}

.banner2 {
  width: 100%;
}

@media(min-width: 984px) {
  .container {
    max-width: 984px;
    width: 984px;
  }
}

@media(min-width: 992px) {
  .banner2 {
    background-image: url('../img/banner2.png');
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 490px;
  }

  .botoes {
    margin-top: 150px;
  }

  .about .container {
    margin: -41px auto 0;
    width: 984px;
    position: relative;
    /*padding-left: 60px;*/
    padding-right: 60px;
  }

  .texto-b2 {
    margin-top: 47px;
  }

  .t-apres {
    margin-top: -25px;
    font-size: 20px;
  }

  .parag {
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
  }

  .lista-s {
    font-size: 14px;
    line-height: 30px;
    text-align: justify;
    list-style: none;
    columns: 2;
    /*column-gap: 25px;*/
  }

  .experiencia {
    max-width: 815px;
    top: -57px;
  }

  .banner-area {
    /*height: 771px;*/
  }

  .box-atuacao {
    /*padding-top: 25px;*/
    margin: 0 auto;
    width: 984px;
  }

  .pop-ups:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: linear-gradient(135deg, white 50%, transparent 50%);
    top: -15px;
    left: 15px;
    transform: rotate(45deg);
  }

  .pop-ups {
    position: absolute;
  }
}

@media(max-width: 991px) {
  .experiencia .col-lg-4 {
    background-color: #70e332;
  }

  .experiencia .pop-ups {
    display: none;
  }

  .justify-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  .texto-b2 {
    padding: 0 40px;
  }

  .experiencia .no-gutters>[class*=col-] {
    padding-right: 18px;
    padding-left: 18px;
  }
}

@media(min-width: 1044px) {
  .skills {
    width: 1044px;
  }
}

@media(max-width: 767px) {
  .profile {
    text-align: center;
  }

  .profile img {
    max-width: 75%;
    width: 75%;
    height: auto;
  }

  .order-mobile .col-lg-8 {
    order: 1;
  }

  .order-mobile .col-lg-4 {
    margin-top: 30px;
    order: 2;
  }

  .skills {
    padding-bottom: 200px;
  }

  .experiencia {
    top: -200px;
  }

  .box-atuacao {
    margin-top: -200px;
  }
.texto-ctt {
    margin: 0 auto 15px;
    position: relative;
}}